<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120894276-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-120894276-1');
        </script>

        <title>World Cup 2018 Sweepstake</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="favicon.ico" />
        <style>
            * {
                font-family: sans-serif;
                color: #ccc;
            }

            body {
                background-color: #111;
            }

            .container {
                max-width: 900px;
                margin: 0 auto;
            }
            .match-day-selector .date {
                display: inline-block;
                text-align: center;
                padding: 0 4px;
            }

            .match-day-selector button {
                vertical-align: top;
                background-color: #111;
                height: 36px;
                width: 60px;
                border: 1px solid #333;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                cursor: pointer;
            }

            .match-day-selector button:hover {
                background-color: #222;
            }

            .matches-container {
                padding-top: 8px;
            }

            .match-header, .groups-header {
                margin-bottom: 8px;
            }

            .match-header {
                margin-top: 0;
            }

            .match {
                margin-bottom: 20px;
                border-left: 6px solid #333;
                padding-left: 8px;
            }

            @keyframes in-progress-flash {
                from {border-left-color: #333;}
                to {border-left-color: #ccc;}
            }

            .match.in-progress {
                animation-name: in-progress-flash;
                animation-duration: 1s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: ease-out;
            }

            .match.completed {
                border-left-color: #ccc;
            }

            .match .team {
                margin-left: 0;
                margin-right: 0;
            }

            .match .score {
                font-weight: bold;
            }

            table {
                border-collapse: collapse;
            }

            table.player-table {
                table-layout: fixed;
                width: 100%;
            }

            table.player-table tbody td:nth-child(1) {
                width: 40%;
            }

            table.player-table tbody td:nth-child(2) {
                width: 60%;
            }

            table.group-table {
                width: 100%;
            }

            @media only screen and (max-width: 500px) {
                table.group-table .hide-column {
                    display: none;
                }
            }

            .col2 {
                width: 50%;
                display: inline-block;
                box-sizing: border-box;
                padding: 8px;
                vertical-align: top;
            }

            .col2:blank {
                display: none;
            }

            @media only screen and (max-width: 990px) {
                .col2 {
                    width: 100%;
                    padding: 8px 0;
                }
            }

            th, td {
                border: 1px solid #333;
                padding: 8px;
                text-align: left;
            }

            .unallocated-teams {
                margin-top: 16px;
            }

            .team {
                display: inline-block;
                background-color: #333;
                border-radius: 4px;
                padding: 4px;
                white-space: nowrap
            }

            .team-spaced {
                margin: 4px;
            }

            .team.knocked-out {
                text-decoration: line-through;
                background-color: #222;
                color: #999;
            }

            .team .flag {
                height: 16px;
                border-radius: 4px;
            }
            .team.knocked-out .flag {
                filter: brightness(25%)
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    </head>
    <body>
        <div id="app"></div>

        <script type="x-vue-template" id="team-badge-template">
            <div class="team" :class="{'knocked-out': knocked_out}">
                <template v-if="team">
                    {{ team.name }}
                    <template v-if="show_person">
                        <template v-if="person">
                            ({{ person.name }})
                        </template>
                        <template v-else>
                            (N/A)
                        </template>
                    </template>
                    <img :src="team.flag_url" class="flag">
                </template>
                <template v-else>
                    n/a
                </template>
            </div>
        </script>

        <script type="x-vue-template" id="match-template">
            <div class="match"
                 :class="{
                     'in-progress': match.status == 'in progress',
                     'completed': match.status == 'completed'
                 }"
            >
                <template v-if="match">
                    <team-badge
                        :team="teams_by_code[match.home_team.code] || null"
                        :person="team_code_to_person[match.home_team.code]"
                        class="team-spaced"
                    />
                    <span v-if="show_scores" class="score">
                        {{ match.home_team.goals }}
                    </span>
                    <template v-if="show_scores">–</template><template v-else>vs</template>
                    <span v-if="show_scores" class="score">
                        {{ match.away_team.goals }}
                    </span>
                    <team-badge
                        :team="teams_by_code[match.away_team.code] || null"
                        :person="team_code_to_person[match.away_team.code]"
                        class="team-spaced"
                    />
                    <div class="match-kickoff"><small>{{ formatted_kickoff_time }} ({{ tz_offset }})</small></div>
                </template>
                <p v-else>
                    n/a
                </p>
            </div>
        </script>

        <script type="x-vue-template" id="group-table-template">
            <div class="group-table-container col2">
                <table class="group-table">
                    <thead>
                        <tr>
                            <th colspan="6">Group {{ group.code }}</th>
                        </tr>
                        <tr>
                            <th>Team</th>
                            <th class="hide-column">W</th>
                            <th class="hide-column">D</th>
                            <th class="hide-column">L</th>
                            <th class="hide-column">GD</th>
                            <th>Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="team in group.teams">
                            <td>
                                <team-badge :team="teams_by_code[team.code] || null"
                                            :person="team_code_to_person[team.code]"
                                            :knocked_out="team_knocked_out[team.code]"
                                            class="team-spaced"
                                />
                            </td>
                            <td class="hide-column">{{ loaded_matches ? team.group_stats.wins : '?' }}</td>
                            <td class="hide-column">{{ loaded_matches ? team.group_stats.draws : '?' }}</td>
                            <td class="hide-column">{{ loaded_matches ? team.group_stats.losses : '?' }}</td>
                            <td class="hide-column">
                                <template v-if="loaded_matches">
                                    <template v-if="team.get_group_goal_difference() >= 0">+</template>{{ team.get_group_goal_difference() }}
                                </template>
                                <template v-else>
                                    ?
                                </template>
                            </td>
                            <td>{{ loaded_matches ? team.get_group_points() : '?' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </script>

        <script type="x-vue-template" id="app-template">
            <div class="container">
                <h1>World Cup 2018 Sweepstake</h1>

                <h2 class="match-header">Matches</h2>
                <div class="match-day-selector">
                    <button @click="selected_date = previous_date" :disabled="previous_date < date_range.min">
                        &lt;
                    </button>
                    <div class="date">
                        <div class="month">{{ format_month(selected_date) }}</div>
                        <div class="date">{{ format_day(selected_date) }}</div>
                    </div>
                    <button @click="selected_date = next_date" :disabled="next_date > date_range.max">
                        &gt;
                    </button>
                </div>
                <div class="matches-container">
                    <template v-if="matches_grouped_by_date && matches_grouped_by_date[selected_date]">
                        <match v-for="match in matches_grouped_by_date[selected_date]" :key="match.fifa_id"
                            :match="match"
                            :teams_by_code="teams_by_code"
                            :team_code_to_person="team_code_to_person" />
                    </template>
                    <template v-else-if="!matches_grouped_by_date">
                        loading...
                    </template>
                    <template v-else>
                        there are no matches on the selected day!
                    </template>
                </div>

                <h2>Players and Teams</h2>
                <table class="player-table">
                    <tbody>
                        <tr v-for="person in people_with_teams">
                            <td class="player">{{ person.name }}</td>
                            <td>
                                <team-badge v-for="team in person.teams" :key="team.code"
                                    :team="team" :show_person="false" :knocked_out="team_knocked_out[team.code]"
                                    class="team-spaced"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="unallocated-teams">
                    <team-badge v-for="team in unallocated_teams":key="team.code"
                        :team="team" :show_person="false" :knocked_out="team_knocked_out[team.code]"
                        class="team-spaced"
                    />
                </div>

                <h2 class="groups-header">Groups</h2>
                <group-table v-for="group in groups":key="group.code"
                            :group="group" :teams_by_code="teams_by_code" :team_code_to_person="team_code_to_person"
                            :team_knocked_out="team_knocked_out" :loaded_matches="Boolean(matches)"/>

                <p><strong>Good luck!</strong> 🤑</p>
            </div>
        </script>

        <script>
            function Person(name, teams) {
                this.name = name;
                this.teams = teams;
            }

            function Team(code, name, group, knocked_out) {
                this.code = code;
                this.name = name;
                this.group = group;
                this.knocked_out = knocked_out;
                this.flag_url = "flags/" + this.code.toLowerCase() + ".gif";

                this.group_stats = {
                    goals_scored: 0,
                    goals_conceded: 0,
                    wins: 0,
                    draws: 0,
                    losses: 0
                }
            }

            function pad2(n) {
                return (n < 10 ? "0" : "") + n;
            }

            function dateString(date) {
                date = new Date(date);
                return date.getFullYear() + "-" + pad2(date.getMonth() + 1) + "-" + pad2(date.getDate());
            }

            function product(iterables, repeat) {
                var argv = Array.prototype.slice.call(arguments), argc = argv.length;
                if (argc === 2 && !isNaN(argv[argc - 1])) {
                    var copies = [];
                    for (var i = 0; i < argv[argc - 1]; i++) {
                        copies.push(argv[0].slice()); // Clone
                    }
                    argv = copies;
                }
                return argv.reduce(function tl(accumulator, value) {
                    var tmp = [];
                    accumulator.forEach(function (a0) {
                        value.forEach(function (a1) {
                            tmp.push(a0.concat(a1));
                        });
                    });
                    return tmp;
                }, [[]]);
            }

            Team.prototype.get_group_points = function () {
                return (this.group_stats.wins * 3) + (this.group_stats.draws);
            }

            Team.prototype.get_group_played = function() {
                return this.group_stats.wins + this.group_stats.draws + this.group_stats.losses;
            }

            Team.prototype.get_group_goal_difference = function() {
                return this.group_stats.goals_scored - this.group_stats.goals_conceded;
            }

            Vue.component('team-badge', {
                template: '#team-badge-template',
                props: {
                    'team': Object,
                    'person': Object,
                    'show_person': {
                        type: Boolean,
                        default: true
                    },
                    'knocked_out': {
                        type: Boolean,
                        default: false
                    }
                }
            });

            Vue.component('match', {
                template: '#match-template',
                props: {
                    'match': Object,
                    'loading': Boolean,
                    'teams_by_code': Object,
                    'team_code_to_person': Object
                },
                data: function() {
                    var tz_offset = -(new Date().getTimezoneOffset());
                    tz_offset =
                        "GMT" + (tz_offset >= 0 ? '+' : '-') +
                        pad2(Math.floor(Math.abs(tz_offset) / 60)) + ":" + pad2(Math.abs(tz_offset) % 60);
                    return {
                        tz_offset: tz_offset
                    }
                },
                computed: {
                    show_scores: function() {
                        if (!this.match) { return false; }
                        return this.match.status == 'in progress' || this.match.status == 'completed'
                    },
                    formatted_kickoff_time: function() {
                        if (!this.match) { return null; }
                        var months = ['January', 'February', 'March', 'April', 'May', 'June',
                                      'July', 'August', 'September', 'October', 'November', 'December'];
                        var t = new Date(this.match.datetime);
                        return months[t.getMonth()] + " " +
                               t.getDate() + " " +
                               + pad2(t.getHours()) + ":" + pad2(t.getSeconds())
                    }
                }
            });

            Vue.component('group-table', {
                template: '#group-table-template',
                props: {
                    'group': Object,
                    'teams_by_code': Object,
                    'team_code_to_person': Object,
                    'team_knocked_out': Object,
                    'loaded_matches': Boolean
                }
            });

            var app = new Vue({
                el: '#app',
                template: '#app-template',
                data: function() {
                    var teams = [
                        new Team('ARG',     'Argentina',    'D',    false),
                        new Team('AUS',     'Australia',    'C',    false),
                        new Team('BEL',     'Belgium',      'G',    false),
                        new Team('BRA',     'Brazil',       'E',    false),
                        new Team('COL',     'Colombia',     'H',    false),
                        new Team('CRC',     'Costa Rica',   'E',    false),
                        new Team('CRO',     'Croatia',      'D',    false),
                        new Team('DEN',     'Denmark',      'C',    false),
                        new Team('EGY',     'Egypt',        'A',    false),
                        new Team('ENG',     'England',      'G',    false),
                        new Team('FRA',     'France',       'C',    false),
                        new Team('GER',     'Germany',      'F',    false),
                        new Team('ISL',     'Iceland',      'D',    false),
                        new Team('IRN',     'Iran',         'B',    false),
                        new Team('JPN',     'Japan',        'H',    false),
                        new Team('MEX',     'Mexico',       'F',    false),
                        new Team('MAR',     'Morocco',      'B',    false),
                        new Team('NGA',     'Nigeria',      'D',    false),
                        new Team('PAN',     'Panama',       'G',    false),
                        new Team('PER',     'Peru',         'C',    false),
                        new Team('POL',     'Poland',       'H',    false),
                        new Team('POR',     'Portugal',     'B',    false),
                        new Team('RUS',     'Russia',       'A',    false),
                        new Team('KSA',     'Saudi Arabia', 'A',    false),
                        new Team('SEN',     'Senegal',      'H',    false),
                        new Team('SRB',     'Serbia',       'E',    false),
                        new Team('KOR',     'South Korea',  'F',    false),
                        new Team('ESP',     'Spain',        'B',    false),
                        new Team('SWE',     'Sweden',       'F',    false),
                        new Team('SUI',     'Switzerland',  'E',    false),
                        new Team('TUN',     'Tunisia',      'G',    false),
                        new Team('URU',     'Uruguay',      'A',    false)
                    ];
                    var people = [
                        new Person('Andrew C.',     ['MEX', 'SUI']),
                        new Person('Andrew E.',     ['BRA', 'FRA']),
                        new Person('Anna S.',       ['COL', 'ISL']),
                        new Person('David H.',      ['GER', 'SWE']),
                        new Person('Freyja W.',     ['CRO', 'DEN']),
                        new Person('John M.',       ['CRC', 'NGA']),
                        new Person('Patrick G.',    ['AUS', 'ESP']),
                        new Person('Ryan S.',       ['JPN', 'KOR']),
                        new Person('Sam D.',        ['EGY', 'POR']),
                        new Person('Sam W.',        ['RUS', 'URU']),
                        new Person('Scott B.',      ['MAR', 'KSA'])
                    ];

                    return {
                        teams: teams,
                        people: people,
                        group_match_pivot: new Date('2018-06-28T22:00Z'),
                        matches: null,
                        selected_date: dateString(new Date())
                    }
                },
                created: function() {
                    var self = this,
                        req = new XMLHttpRequest();
                    req.addEventListener("load", function(e) {
                        self.load_matches(JSON.parse(this.responseText));
                    });
                    req.open("GET", "https://world-cup-json.herokuapp.com/matches/?by_date=asc");
                    req.send();
                },
                methods: {
                    load_matches: function(matches) {
                        var self = this;
                        self.matches = matches.sort(function(a, b) {
                            if (!a.datetime && !b.datetime) return 0;
                            if (!a.datetime) return 1;
                            if (!b.datetime) return -1;

                            var a = new Date(a.datetime),
                                b = new Date(b.datetime);
                            if (a < b) return -1;
                            if (a > b) return 1;
                            return 0;
                        });

                        var completed_group_matches = this.group_matches.filter(function(m) {
                            return m.status == 'completed';
                        });

                        completed_group_matches.forEach(function(match) {
                            var home_team = self.teams_by_code[match.home_team.code],
                                away_team = self.teams_by_code[match.away_team.code];
                            if (!home_team || !away_team) { return; }

                            home_stats = home_team.group_stats;
                            away_stats = away_team.group_stats;

                            if (match.home_team.goals > match.away_team.goals) {
                                home_stats.wins++;
                                away_stats.losses++;
                            } else if (match.home_team.goals < match.away_team.goals) {
                                home_stats.losses++;
                                away_stats.wins++;
                            } else {
                                home_stats.draws++;
                                away_stats.draws++;
                            }

                            home_stats.goals_scored += match.home_team.goals;
                            away_stats.goals_scored += match.away_team.goals;

                            home_stats.goals_conceded += match.away_team.goals;
                            away_stats.goals_conceded += match.home_team.goals;
                        });
                    },
                    format_day: function(d) {
                        return pad2(new Date(d).getDate());
                    },
                    format_month: function(d) {
                        return [
                            'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
                            'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'
                        ][new Date(d).getMonth()]
                    }
                },
                computed: {
                    people_with_teams: function() {
                        var teams_by_code = {};
                        this.teams.forEach(function(team) {
                            teams_by_code[team.code] = team;
                        });

                        return result = this.people.map(function(person) {
                            return {
                                'name': person.name,
                                'teams': person.teams.map(function(team_code) {
                                    return teams_by_code[team_code];
                                })
                            }
                        });
                        return result;
                    },
                    unallocated_teams: function() {
                        var allocated_team_codes = this.people.map(function(person) {
                            return person.teams;
                        }).reduce(function(a, b) { return a.concat(b); }, []);
                        return result =  this.teams.filter(function(team) {
                            return allocated_team_codes.indexOf(team.code) == -1;
                        });
                    },
                    teams_by_code: function() {
                        var teams = {};
                        this.teams.forEach(function(team) {
                            teams[team.code] = team;
                        });
                        return teams;
                    },
                    team_code_to_person: function() {
                        var teams = {};
                        this.people.forEach(function(p) {
                            p.teams.forEach(function(t) {
                                teams[t] = p;
                            });
                        });
                        return teams;
                    },
                    groups: function() {
                        var self = this,
                            groups = {}
                        this.teams.forEach(function(team) {
                            if (!groups[team.group]) {
                                groups[team.group] = {
                                    code: team.group,
                                    teams: []
                                };
                            }
                            groups[team.group].teams.push(team);
                        });

                        groups = Object.values(groups);
                        groups.sort(function(a, b) {
                            if (a.code < b.code) return -1;
                            if (a.code > b.code) return 1;
                            return 0;
                        });

                        groups.forEach(function(group) {
                            group.teams.sort(function(a, b) {
                                // Sort by points
                                var a_points = a.get_group_points(),
                                    b_points = b.get_group_points();
                                if (a_points > b_points) return -1;
                                if (b_points < b_points) return 1;

                                // Then by goal difference.
                                var a_gd = a.get_group_goal_difference(),
                                    b_gd = b.get_group_goal_difference()
                                if (a_gd > b_gd) return -1;
                                if (a_gd < b_gd) return 1;

                                // Then by goals scored.
                                if (a.group_stats.goals_scored > b.group_stats.goals_scored) return -1;
                                if (a.group_stats.goals_scored < b.group_stats.goals_scored) return 1;

                                // Then by name.
                                if (a.name < b.name) return -1;
                                if (a.name > b.name) return 1;
                                return 0;
                            });
                        });

                        return groups;
                    },
                    team_knocked_out: function() {
                        var self = this,
                            team_knocked_out = {},
                            simulated_match_count = 0;

                        self.teams.forEach(function(team) {
                            team_knocked_out[team.code] = false;
                        });

                        if (!self.matches) {
                            // We haven't loaded the matches yet, just return false for everyone.
                            return team_knocked_out;
                        }

                        self.groups.forEach(function(group) {
                            var group_future_matches = self.group_matches.filter(function(match) {
                                return match.status != 'completed' && self.teams_by_code[match.home_team.code].group == group.code;
                            })
                            var team_highest_positions = {}

                            if (group_future_matches.length) {
                                // There are matches still to be played, simulate them!
                                var possible_group_match_outcomes = product(['H', 'A', 'D'], group_future_matches.length);

                                possible_group_match_outcomes.forEach(function(match_results) {
                                    var group_table = {};
                                    group.teams.forEach(function(team) {
                                        group_table[team.code] = team.points;
                                    });

                                    group_future_matches.forEach(function(match, i) {
                                        var outcome = match_results[i];
                                        if (outcome == 'H') {
                                            group_table[match.home_team.code] += 3;
                                        } else if (outcome == 'A') {
                                            group_table[match.away_team.code] += 3;
                                        } else if (outcome == 'D') {
                                            group_table[match.home_team.code]++;
                                            group_table[match.away_team.code]++;
                                        }
                                        simulated_match_count++;
                                    });

                                    group_table = Object.keys(group_table).map(function(key) {
                                        return {team: key, points: group_table[key]};
                                    });

                                    group_table.sort(function(a, b) {
                                        if (a.points > b.points) return -1;
                                        if (a.points < b.points) return 1;
                                        return 0;
                                    });

                                    var pos = 1,
                                        previous_row_points = group_table[0].points;
                                    group_table.forEach(function(row) {
                                        if (row.points < previous_row_points) {
                                            pos++;
                                        }

                                        if (
                                            !team_highest_positions[row.team] ||
                                            row.points < team_highest_positions[row.team]
                                        ) {
                                            team_highest_positions[row.team] = pos;
                                        }
                                    });
                                });
                            } else {
                                // There are no matches left to be played in this group, just use their position in the group.
                                group.teams.forEach(function(team, i) {
                                    team_highest_positions[team.code] = i + 1;
                                });
                            }

                            for (team_code in team_highest_positions) {
                                team_knocked_out[team_code] = (
                                    self.teams_by_code[team_code].knocked_out ||
                                    team_highest_positions[team_code] > 2
                                );
                            }
                        });
                        if (simulated_match_count) {
                            console.log('Simulated ' + simulated_match_count +
                                        ' matches to work out teams that have been knocked out.');
                        }
                        return team_knocked_out;
                    },
                    matches_grouped_by_date: function() {
                        if (!this.matches) return null;

                        var today_date_string = dateString(new Date());
                        var days = {};
                        // Always include today even if there are no matches today.
                        days[today_date_string] = [];

                        this.matches.forEach(function(match) {
                            var match_date_string = dateString(new Date(match.datetime));
                            if (!(match_date_string in days)) {
                                days[match_date_string] = [match];
                            } else {
                                days[match_date_string].push(match);
                            }
                        });

                        return days;
                    },
                    next_date: function() {
                        var date = new Date(this.selected_date);
                        date.setDate(date.getDate() + 1);
                        return dateString(date);
                    },
                    previous_date: function() {
                        var date = new Date(this.selected_date);
                        date.setDate(date.getDate() - 1);
                        return dateString(date);
                    },
                    date_range: function() {
                        if (!this.matches_grouped_by_date) return this.selected_date;
                        var min = max = this.selected_date;
                        for (date_string in this.matches_grouped_by_date) {
                            if (date_string < min) {
                                min = date_string;
                            }
                            if (date_string > max) {
                                max = date_string;
                            }
                        }
                        return {min: min, max: max};
                    },
                    todays_matches: function() {
                        if (!this.matches) return null;

                        var today = dateString(new Date());
                        return {
                            date: today,
                            matches: this.matches.filter(function(match) {
                                return dateString(match.datetime) == today;
                            })
                        };
                    },
                    next_days_matches: function() {
                        var self = this;
                        if (!this.matches) return null;

                        var today = dateString(new Date());
                        for (var i = 0; i < this.matches.length; i++) {
                            if (dateString(this.matches[i].datetime) > today) break;
                        }
                        if (i >= this.matches.length) return null;

                        var next_day = dateString(new Date(this.matches[i].datetime));
                        return {
                            date: next_day,
                            matches: this.matches.filter(function(match) {
                                return dateString(match.datetime) == next_day;
                            })
                        }
                    },
                    group_matches: function() {
                        var self = this;
                        if (!self.matches) return null;

                        return self.matches.filter(function(m) {
                            return new Date(m.datetime) < self.group_match_pivot;
                        });
                    }
                }
            })
        </script>
    </body>
</html>
